# App config
BANKING_FASTAPI_HOST=somehost
BANKING_FASTAPI_PORT=someport
BANKING_FASTAPI_RELOAD=true
BANKING_FASTAPI_DEBUG=true

# DB connection (used by API)
BANKING_FASTAPI_DB_HOST=somehost
BANKING_FASTAPI_DB_PORT=someport
BANKING_FASTAPI_DB_USER=someuser
BANKING_FASTAPI_DB_PASS=somepassword
BANKING_FASTAPI_DB_BASE=somebase(admin)

# Redis connection
BANKING_FASTAPI_REDIS_PASS=somepassword

# Security config
BANKING_FASTAPI_SECRET_KEY=changethis
